{% extends "flatpages/default.html" %}
{% csrf_token %}
{% block content %}
<h2>Страница авторизованного пользователя {{request.user.username}}</h2>
<div> Здесь может содержаться персональная информация для каждого пользователя </div>

{% if is_not_authors %}
<h4>Статус: Читатель</h4>
<button> <a href="/upgrade"> Стать автором</a> </button>
{% else %}
<h4>Статус: Автор</h4>
<table>
<tr>

<td><a href='/'>Добавить статью</a>
<td><a href='/'>Добавить новость</a>

</tr>
</table>
{% endif %}
<button> <a href="accounts/logout/">Выйти</a> </button>
{% endblock %}