{% extends 'flatpages/default.html' %}
{% block content %}  

<h1>Редактор</h1>  
<hr>  
{% if is_authors %} 
	
	<form action="" method="post">  
	{% csrf_token %}
		 <div style="text-align: left;">  
			 <div>  
				 <h4>Заголовок</h4>
				 <p>{{ form.title }}</p>  
			 </div>  
			 <div>  
				 <h4>Содержание</h4>
				 <p>{{ form.content }}</p>  
			 </div>
			 <div>
				<h4>Категория</h4>
				<p style='display: inline-block;'>{{ form.categories }}</p>
			</div>
		</div>  
			<div style="text-lign: center;">
				<input type="submit" class="submit-button1" value="Создать"/>
				<a href="/news/"><input type="button" class="submit-button1" value="Отмена" /></a>
			 </div>
		 
	</form> 

{% else %}
	<h3 style='color: gray'>Страницы не существует или у вас нет доступа.</h3>
	<a href="/news/"><input type="button" class="submit-button1" value="Главная" /></a>
{% endif %}

{% endblock content %}