{% extends 'flatpages/default.html' %}
{% load custom_tags %}
{% load custom_filters %}
{% block content %}  
	{% if news_search %}

	<table>
        <tr>
            <td><button class="button">Спорт</button></td>
            <td><button class="button">Здоровье</button></td>
            <td><button class="button">Наука</button></td>
            <td><button class="button">Технологии</button></td>
        </tr>
    </table>
	<hr>
	<form action="" method="get">
	{{ filterset.form.as_p }}
	<input type="submit" value="Найти" />
	</form>
		<a href="/news/search/?author=&title=&search_date="><button>Сбросить</button></a>
	
		{% with filterset.qs as qs %}
        {% if filterset.form.author.value or filterset.form.title.value or filterset.form.search_date.value %}
	
	<hr>
           <table> 
               <tr>  
                   <td width="300"><h5>Заголовок поста </h5></td>
                   <td><h5>Дата публикации</h5></td>
            <td width="350"><h5>Описание</h5></td> 
               </tr>  

               {% for news in news_search %}  
               <tr>  
                   <td>{{ news.title|censor }}</td>  
                   <td>{{ news.time_add|date:"d.m.Y" }}</td>  
                   <td style = "color: #808080";>{{ news.content|truncatewords:20|censor }}</td>  
                   <td><a style= "text-decoration: none" href="{% url 'news_detail' news.pk %}">Подробнее..</a></td>  
               </tr>  
               {% endfor %}  
           </table>
		   {% else %}
		   <h2>Начните поиск</h2>

		{% endif %}
		{% endwith %}
		
   {% else %}  
       <h2>Новостей нет!</h2>  
   {% endif %}  
	
	   {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
   
{% endblock content %}