{% extends 'flatpages/default.html' %}
{% load custom_tags %}
{% load custom_filters %}
{% block content %}  

	<table class = "table_1">
        <tr>
            <td><button class="button">Спорт</button></td>
            <td><button class="button">Здоровье</button></td>
            <td><button class="button">Наука</button></td>
            <td><button class="button">Технологии</button></td>
        </tr>
    </table>
	<hr>
	<form action="" method="get">
		 <div style="text-align: left;">  
			 <div>  
				 <p>{{ filterset.form.title }} Название</p>  
			 </div>  
			 <div>  
				 <p style='display: inline-block;'>{{ filterset.form.author }} Автор</p>  
				 <input type="submit" class="submit-button1" value="Найти" style="margin-left:10px;" />  
			 </div>
			 <div>
				<p style='display: inline-block;'>{{ filterset.form.search_date }} Дата</p>
	
				<a href="/news/search/?author=&title=&search_date="><input type="button" class="submit-button2" value="Сбросить" /></a>
			 </div>
		 </div>  
	</form>  
		
	{% if news_search %}
		{% with filterset.qs as qs %}
        {% if filterset.form.author.value or filterset.form.title.value or filterset.form.search_date.value %}
	
	<hr>
           <table class="table_1"> 
               <tr class="news_item">  
                   <td width="300"><h5>Заголовок поста </h5></td>
                   <td><h5>Дата публикации</h5></td>
            <td width="350"><h5>Описание</h5></td> 
               </tr>  

               {% for news in news_search %}  
               <tr>  
                   <td>{{ news.title|censor }}</td>  
                   <td>{{ news.time_add|date:"d.m.Y" }}</td>  
                   <td style = "color: #808080";>{{ news.content|truncatewords:20|censor }}</td>  
                   <td><a style= "text-decoration: none" href="{% url 'news_detail' news.pk %}">Подробнее..</a></td>  
               </tr>  
               {% endfor %}  
           </table>


		{% endif %}
		{% endwith %}
		
   {% else %}  
       <h2>Новостей нет!</h2>  
   {% endif %}  
	
	   {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
   
{% endblock content %}