{% extends 'flatpages/default.html' %}  

{% load custom_filters %}  

{% block title %}  
Posts  
{% endblock title %}  

{% block content %}  
    <h3>{{ news_detail.title|censor }}</h3>  
	<table>  
		<tr>  
			<th style="text-align: left; font-style: italic; color: gray;">Опубликовано: {{ news_detail.time_add|date:"d.m.Y" }}</th>   
			<th style="text-align: right; font-style: italic; color: gray;">Автор: {{ news_detail.author.user.username }}</th>  
		</tr>  
	</table>
    <hr>
    <p style = 'text-align: left; margin-top: 20px;'>{{ news_detail.content|censor }}</p>  
	<h5 align='right'>Рейтинг статьи: {{ news_detail.rating }}</h5>
{% endblock content %}